<ul id='apartmentsList' class='list'></ul>
<style is:global>
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
  .list li {
    flex: 0 1 15.77em;
  }
  .card {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background: white;
    border-radius: 0.25em;
    border: 1px solid #70707070;
    transition: scale 0.125s ease-in-out;
  }
  .card:hover {
    cursor: pointer;
    box-shadow: 0 0 4px 1px rgb(53 53 53 / 12%);
    scale: 1.02;
    transition: scale 0.125s ease-in-out;
  }
  .featured-pin {
    display: flex;
    justify-content: space-between;
  }
  .map-marker svg {
    width: 1.5em;
  }
  .button-save {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button-save .btn {
    font-size: 0.63em;
    width: max-content;
  }
  .addtoFavourites .text {
    display: none;
  }
  .addtoFavourites svg {
    fill: red;
    width: 2em;
  }
  .addtoFavourites {
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
    position: relative;
    transition: scale 0.125s ease-out;
  }
  svg.heart-notsaved {
    display: inline;
  }
  .addtoFavourites svg.heart-notsaved {
    display: inline;
  }
  .addtoFavourites svg.heart-saved {
    position: absolute;
    left: 0;
    scale: 0;
    transition: scale 0.125s ease-out;
  }
  .addtoFavourites:hover svg.heart-saved {
    scale: 1;
  }
  .addToFavs-toggle:checked ~ svg.heart-saved {
    scale: 1;
  }
  .addtoFavourites:hover {
    scale: 1;
  }

  .addtoFavourites:active svg.heart-saved {
    scale: 1.25;
  }

  .addToFavs-toggle {
    position: absolute;
    opacity: 0;
  }
  .property-image {
    object-fit: cover;
    aspect-ratio: 6/4;
    border-radius: 8px;
  }
</style>
<script is:inline>
  // Fetch data from JSON file
  fetch('../data/apartmentList.json')
    .then((response) => response.json())
    .then((data) => {
      // Get the parent element to append the list items
      const apartmentsList = document.getElementById('apartmentsList');

      // Iterate through each apartment in the array
      data.apartments.forEach((apartment) => {

        const listItem = document.createElement('li');
        listItem.innerHTML += `
				<div class='card'>
					<div class='featured-pin'>

						<div class='featured-tag'>
							<div class='isfeatured'>featured</div>
						</div>

						<div class='map-marker' data-loc=' sum'>
							<a href='#'>
								<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'
									><path
										d='M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 256c-35.3 0-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64s-28.7 64-64 64z'
									></path></svg
								>
							</a>
						</div>

					</div>

					<a
						href='//hubspot-developers-665unv-20852411.hs-sites.com/rentals/property.unique_page_slug '
					>
						<h4>${apartment.name}</h4>
					</a>



					<div class=''>${apartment.address}</div>

					<div class='price-starting'>${apartment.rent}</div>

					<div class='availability'>Bedroom: ${apartment.bedrooms} | Bathrooms: ${apartment.bathrooms}</div>

					<a
						href='//hubspot-developers-665unv-20852411.hs-sites.com/apartments-for-rent/property.unique_page_slug'
					>
						<img
							class='property-image'
							src='https://placehold.co/600x400'
							alt='property.property_name '
						/>
					</a>




					<div class='button-save'>

						<a
							href='//hubspot-developers-665unv-20852411.hs-sites.com/rentals/property.unique_page_slug'
							class='btn btn-primary'>Explore Community</a
						>

						<label
							class='addtoFavourites'
							for='addToFavs'
							data-property-id='2412896810'
						>
							<input type='checkbox' id='addToFavs' class='addToFavs-toggle' />
							<svg
								xmlns='http://www.w3.org/2000/svg'
								class='heart-notsaved'
								viewBox='0 0 512 512'
								><path
									d='M244 84L255.1 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 0 232.4 0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84C243.1 84 244 84.01 244 84L244 84zM255.1 163.9L210.1 117.1C188.4 96.28 157.6 86.4 127.3 91.44C81.55 99.07 48 138.7 48 185.1V190.9C48 219.1 59.71 246.1 80.34 265.3L256 429.3L431.7 265.3C452.3 246.1 464 219.1 464 190.9V185.1C464 138.7 430.4 99.07 384.7 91.44C354.4 86.4 323.6 96.28 301.9 117.1L255.1 163.9z'
								></path></svg
							>
							<svg
								version='1.0'
								class='heart-saved'
								xmlns='http://www.w3.org/2000/svg'
								viewBox='0 0 512 512'
								aria-hidden='true'
								><g id='Heart1_layer'
									><path
										d='M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z'
									></path></g
								></svg
							>
							<div class='text'>save</div>
						</label>
						</a>

					</div>
</div>
        `;
        // Append the list item to the parent element
        apartmentsList.appendChild(listItem);
      });
    });
</script>
